<header class="mdl-layout__header">
    <div class="mdl-layout-icon"></div>
    <div class="mdl-layout__header-row">
       <!-- <a class="md-title-icon" href="http://pluralsight.com" target="_blank"><i></i></a>-->

        <span class="mdl-layout__title">Project Management System</span>
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
            <label class="mdl-button mdl-js-button mdl-button--icon"
                   for="waterfall-exp">
                <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
                <input class="mdl-textfield__input" type="text" name="sample"
                       id="waterfall-exp">
            </div>
        </div>
        <!--<button id="reset-button"
                class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button&#45;&#45;accent mdl-button&#45;&#45;raised"
                (click)="resetDb()">Reset Data</button>-->
    </div>
    <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" [routerLink]="['/dashboard']">Dashboard</a>
        <a class="mdl-navigation__link" [routerLink]="['/project']">Projects</a>
        <a class="mdl-navigation__link" [routerLink]="['/client']">Clients</a>
    </nav>
<!--    <div class="mdl-navigation">
        &lt;!&ndash;<a *ngFor="let item of menuItems" [routerLink]="item.link" class="nav-link" href="">{{item.caption}}</a>&ndash;&gt;
        <a [routerLink]="['/login']">go to login</a>
        <a [routerLink]="['/project']">Go to Projects</a>
    </div>-->
</header>

