<!--
<header class="mdl-layout__header">
    <div class="mdl-layout-icon"></div>
    <div class="mdl-layout__header-row">
       &lt;!&ndash; <a class="md-title-icon" href="http://pluralsight.com" target="_blank"><i></i></a>&ndash;&gt;

        <span class="mdl-layout__title">Project Management System</span>
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;expandable
                  mdl-textfield&#45;&#45;floating-label mdl-textfield&#45;&#45;align-right">
            <label class="mdl-button mdl-js-button mdl-button&#45;&#45;icon"
                   for="waterfall-exp">
                <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
                <input class="mdl-textfield__input" type="text" name="sample"
                       id="waterfall-exp">
            </div>
        </div>
        &lt;!&ndash;<button id="reset-button"
                class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button&#45;&#45;accent mdl-button&#45;&#45;raised"
                (click)="resetDb()">Reset Data</button>&ndash;&gt;
    </div>
    <nav class="mdl-navigation mdl-layout&#45;&#45;large-screen-only">
        <a class="mdl-navigation__link" [routerLink]="['/dashboard']">Dashboard</a>
        <a class="mdl-navigation__link" [routerLink]="['/project']">Projects</a>
        <a class="mdl-navigation__link" [routerLink]="['/client']">Clients</a>
    </nav>
&lt;!&ndash;    <div class="mdl-navigation">
        &lt;!&ndash;<a *ngFor="let item of menuItems" [routerLink]="item.link" class="nav-link" href="">{{item.caption}}</a>&ndash;&gt;
        <a [routerLink]="['/login']">go to login</a>
        <a [routerLink]="['/project']">Go to Projects</a>
    </div>&ndash;&gt;
</header>

-->


<header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
    <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Project Management System</span>
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
                <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
                <input class="mdl-textfield__input" type="text" id="search">
                <label class="mdl-textfield__label" for="search">Enter your query...</label>
            </div>
        </div>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
                (click)="add()">
            <i class="material-icons">add</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
            <i class="material-icons">more_vert</i>
        </button>
        <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
            <li class="mdl-menu__item">Static entry</li>

            <!-- semi dynamic, known when view is created -->
            <li class="mdl-menu__item" *ngFor="let nr of [1,2,3]">Semi Dynamic entry {{nr}}</li>

            <!-- dynamic, depends on service manipulated array -->
            <li class="mdl-menu__item" *ngFor="let nr of dynamicArray">Dynamic entry {{nr}}</li>
        </ul>
        <!--<ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu&#45;&#45;bottom-right" for="hdrbtn">
            <li class="mdl-menu__item">About</li>
            <li class="mdl-menu__item">Contact</li>
            <li class="mdl-menu__item">Legal information</li>
        </ul>-->
    </div>
</header>